name: leader-election

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.11
    container_name: etcd
    environment:
      - ETCD_NAME=etcd-node
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_INITIAL_CLUSTER=etcd-node=http://etcd:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
    ports:
      - "2379:2379" # Client port
      - "2380:2380" # Peer port
    volumes:
      - etcd-data:/etcd-data
    networks:
      - etcd-network
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  etcd-data:
    driver: local

networks:
  etcd-network:
    driver: bridge
