version: "3.8"
name: "test_sharding"
services:
  # Service: MySQL Database
  mysql_shard_0:
    image: mysql:8.0
    container_name: mysql_shard_0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: sharding_db
    ports:
      - "3306:3306" # Port Mapping from host machine localhost:3306
    volumes:
      - mysql_shard_0_data:/var/lib/mysql # Persist data even if container stops
  mysql_shard_1:
    image: mysql:8.0
    container_name: mysql_shard_1
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: sharding_db
    ports:
      - "3307:3306" # Port Mapping from host machine localhost:3307
    volumes:
      - mysql_shard_1_data:/var/lib/mysql # Persist data even if container stops
  mysql_shard_2:
    image: mysql:8.0
    container_name: mysql_shard_2
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: sharding_db
    ports:
      - "3308:3306" # Port Mapping from host machine localhost:3308
    volumes:
      - mysql_shard_2_data:/var/lib/mysql # Persist data even if container stops

# Define volume for persistence
volumes:
  mysql_shard_0_data:
  mysql_shard_1_data:
  mysql_shard_2_data:
