name: consistent-hashing
services:
  redis:
    image: redis:7-alpine
    container_name: redis_server
    ports:
      - "6379:6379"
    command: redis-server --requirepass mypass --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  redis_data:
